body {
    color: rgb(0, 0, 0);
    background: rgb(249, 3, 163);
    margin: 0px;
   
}

header {
    border-bottom: solid 2px rgb(25, 99, 195);
    padding: 20px;
    font-size: 32px;
    color: rgb(8, 8, 8);
}

section {
    background: rgb(210, 115, 244);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1{ 
    font-size: 40px;

}
  
  p {
    font-size: 20px;
  }

    body{
        color: beige;
        background: palevioletred;
        margin: 0px;
        font-family: "chakra petch", sans-serif;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
    }

  img {
    height: 200px;
  }
  
  
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  
  section {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  /* código omitido */
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }

  section{
    background: rgb(224, 132, 236);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }

  \*codigo omitido*\

  .categoria{
    pedding-left 20px;
    padding-right: 20px;
  }
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid blue;

}

.categoria-videos img:hover{ 
opacity: 1.0;
}

.categoria h2{
    color:aqua
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

body{
    color: brown;
    background: rgb(98, 236, 18);
    margin: 0px;
    font-family:"chakra petch", sans-serif;
    margin-bottom: 100px ;
}
